*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
.skills{
    color: purple;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: purple;
    font-weight: 1000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.logo:hover{
    color: blueviolet;
    transform: scale(1.01);
}
nav a{
    font-size: 1.8rem;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
    margin-left: 5rem;
}
nav a:hover,nav a.active{
    color: purple;
}
.container1 {
    display: flex;
    background-image: url(/imgs/code.jpg);
    background-position: 90%;
    margin-top: 2vh;
    margin-left: 10vh;
    margin-right: 10vh;
    height: 50vh;
    width: 90%;
    border-radius: 10px;
}
.skill-container{
    display: flex;
    justify-content: center;
    margin-top: 20vh;

}
.skill-container h1{
    font-size: 50px;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container2{
    margin-left: 70px;
    margin-top: 20vh;
    padding-bottom: 50px;
    font-size: large;
}